#sampleBox{
background-color: rgb(161, 190, 190);


}
#container{
    background-color: rgb(231, 230, 230);
    width:99%;
    padding: 1%;
    height:1000px;
    border-radius: 0.9%;
    
    
}
#navbar{

    width:auto;
    height: 47px;
    padding:10px;
    background-color: rgba(115, 148, 172, 0.541);
    font-size: 40px;
    align-items: right;
    font-family: Arial;
   
}
#mainBox{
    border-top: rgba(255, 255, 255, 0) 2px;
    width:auto;
    height: 500px;
    background-color: #a1bbd1;
    align-items: center;
}
.grid-container {
    display: grid;
    gap: 10% 10%;
    grid-template-columns: auto auto;
    background-color: #a1bbd1;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 70px;
    text-align: center;
    color: #292929;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .grid-item:hover {
    background-color:rgba(62, 62, 62, 0.863);
    color:white;
} 
.grid-item-text {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: left;
    color: #292929;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }